.file_upload {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
  -webkit-justify-content: center; /* Safari */
  justify-content:         center;
  -webkit-align-items: center; /* Safari */
  align-items:         center;
}

.upload_button {
    width: 10%;
}